* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
}

*::before, *::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  overflow-x: hidden;
  background-color: #0A0A0A;
}

html {
  font-family: 'GlobotipoTextoRegular', sans-serif;
  color: #212333;
}

a,
a:visited {
  color: inherit;
}

img, span {
  display: block;
}

.gc-content-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto;
  max-width: 1440px;
  padding: 120px 32px;
}

@media screen and (max-width: 700px) {
  .gc-content-wrapper {
    padding: 120px 8px;
  }
}

.cl-header {
  position: fixed;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 80px;
  background: rgba(0, 0, 0, 0.527);
  -webkit-box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
          box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(163, 163, 163, 0.18);
  z-index: 1000;
}

.cl-header .header-content-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 32px;
  color: #fff;
  font-family: 'Bebas Neue';
  font-size: 24px;
  letter-spacing: 1px;
}

.cl-header .header-content-wrapper .header-list-item::after {
  content: '';
  display: block;
  margin: auto;
  height: 1px;
  width: 0px;
  background: white;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.cl-header .header-content-wrapper .header-list-item:hover::after {
  width: 90%;
}

.scroll-down header {
  -webkit-transform: translate3d(0, -100%, 0);
          transform: translate3d(0, -100%, 0);
  -webkit-transition: .3s;
  transition: .3s;
}

.scroll-up header {
  -webkit-transition: .3s;
  transition: .3s;
}

.cl-social-media-display {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 24px;
  position: fixed;
  right: 8%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 64px;
  padding: 24px;
  border-radius: 80px;
  background: rgba(0, 0, 0, 0.527);
  -webkit-box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
          box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(163, 163, 163, 0.18);
  z-index: 1000;
  -webkit-animation: smFade 1s ease-in;
          animation: smFade 1s ease-in;
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

.cl-social-media-display .sm-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 24px;
  height: 24px;
}

.cl-social-media-display .sm-icon:hover {
  -webkit-filter: invert(59%) sepia(85%) saturate(1620%) hue-rotate(339deg) brightness(90%) contrast(143%);
          filter: invert(59%) sepia(85%) saturate(1620%) hue-rotate(339deg) brightness(90%) contrast(143%);
}

.cl-social-media-display .sm-icon .icon-img {
  width: 100%;
}

@-webkit-keyframes smFade {
  from {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes smFade {
  from {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.cl-hero {
  background-image: url("img/cl-hero-bg.jpg");
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  background-color: #1a1a1a;
}

.hero-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1440px;
  height: 100vh;
  margin: auto;
  color: #fff;
}

.hero-wrapper .cl-hero-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 800px;
  -webkit-animation: logoFade 1s ease-in-out;
          animation: logoFade 1s ease-in-out;
}

.hero-wrapper .cl-hero-logo .logo-clandestino {
  width: 100%;
}

.hero-wrapper .cl-hero-subtitle {
  font-size: 48px;
  font-family: 'Bebas Neue';
  letter-spacing: 1px;
  color: #fff;
  -webkit-animation: subtitleFade 1s ease-in-out;
          animation: subtitleFade 1s ease-in-out;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

@-webkit-keyframes logoFade {
  from {
    -webkit-transform: translateY(-80px);
            transform: translateY(-80px);
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes logoFade {
  from {
    -webkit-transform: translateY(-80px);
            transform: translateY(-80px);
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes subtitleFade {
  from {
    -webkit-transform: translateY(80px);
            transform: translateY(80px);
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes subtitleFade {
  from {
    -webkit-transform: translateY(80px);
            transform: translateY(80px);
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.test {
  margin: auto;
  height: 2000px;
  width: 1440px;
  background-color: gray;
}
/*# sourceMappingURL=main.css.map */