
// CORES
$PrimaryGray: #212333;
$white: #fff;

// CONFIGURAÇÕES GERAIS
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;

    &::before,&::after {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
}

body {
    overflow-x: hidden;
    background-color: #0A0A0A;
}

html {
    font-family: 'GlobotipoTextoRegular', sans-serif;
    color: $PrimaryGray;
}

a,
a:visited {
    color: inherit;
}

img, span {
    display: block;
}

// WRAPPER PRINCIPAL
.gc-content-wrapper {
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 1440px;
    padding: 120px 32px;

    @media screen and (max-width: 700px) {
      padding: 120px 8px;
    }
}
