.cl-patagonia-section {
    width: 100%;
    background-image: url("img/cl-patagonia-bg.jpg");
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    background-color:#0A0A0A;
}

.cl-patagonia-text-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    padding: 32px;
    max-width: 1440px;;
    height: 120vh;
    color: white;

    .cl-patagonia-map {
        width: 200px;
        align-self: left;

        @media screen and (max-width: 600px) {
            width: 100px;
          }
    }
    .cl-patagonia-title {
        margin: 32px 0;
        font-family: 'Bebas Neue';
        font-size: 40px;
        letter-spacing: 1px;
        color: $White;

        @media screen and (max-width: 600px) {
            font-size: 32px;
          }
    }

    .cl-patagonia-text {
        max-width: 900px;
        font-size: 16px;
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
        color: $White;
        letter-spacing: 1px;
        line-height: 1.6;

        @media screen and (max-width: 600px) {
            font-size: 14px;
          }
    }
}