.cl-footer-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 160px auto;

    .social-media-footer-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 32px;

        .social-media-footer-title {
            font-family: 'Bebas Neue';
            font-size: 40px;
            letter-spacing: 1px;
            color: $White;
        }
    
        .social-media-footer-list {
            display: flex;
            justify-content: center;
            gap: 32px;
        }
    }

    .cl-labels-container {
        margin: 160px auto 80px;

        .labels-img {
            width: 100%;
        }
    }

    .cl-credits-container {
        margin: auto;
        .credits-img {
            width: 100%;
        }
    }

}