.cl-intro-text-section {
    width: 100%;
    background-image: url("img/cl-wall-bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color:#0A0A0A;
}

.cl-intro-text-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    max-width: 1440px;
    padding: 32px;
    // height: 600px;
    // overflow-y: hidden;
    // position: relative;

    .intro-text-title {
        font-family: 'Bebas Neue';
        font-size: 40px;
        letter-spacing: 1px;
        color: $Red;
        
        @media screen and (max-width: 600px) {
            font-size: 32px;
          }
    }

    .intro-text-container {
        max-width: 600px;
        margin: 32px 0;

        .intro-text {
            font-family: 'Roboto', sans-serif;
            font-size: 16px;
            font-weight: 300;
            color: $White;
            text-align: center;
            letter-spacing: 1px;
            line-height: 1.6;

            @media screen and (max-width: 600px) {
                font-size: 14px;
              }
        }
    }

    // .text-fade-black-bottom {
    //     height: 400px;
    //     width: 100%;
    //     position: absolute;
    //     bottom: 0;
    //     background: rgb(10,10,10);
    //     background: linear-gradient(180deg, rgba(10,10,10,0) 0%, rgba(10,10,10,1) 100%);
    // }
}