#cl-trailer-section {
    max-width: 1440px;
    margin: 0 auto;
}

.cl-trailer-title {
    text-align: center;
    font-family: 'Bebas Neue';
    font-size: 32px;
    letter-spacing: 1px;
    color: $White;
    margin: 16px auto;

    @media screen and (max-width: 800px) {
        transform: translateY(100px);
      }

      @media screen and (max-width: 600px) {
        transform: translateY(140px);
      }
}