.cl-header {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80px;
    background: rgba(0, 0, 0, 0.527);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(163, 163, 163, 0.18);
    z-index: 1000;

    .header-content-wrapper {
        display: flex;
        gap: 32px;
        color: $White;
        font-family: 'Bebas Neue';
        font-size: 24px;
        letter-spacing: 1px;

        .header-list-item {

            &::after {
                content: '';
                display: block;
                margin: auto;
                height: 1px;
                width: 0px;
                background: white;
                transition: all 0.2s linear;
            }

            &:hover {

                &::after {
                    width: 90%;
                }
            }
        }
    }
}

    //scroll
    .scroll-down {
        header {
            transform: translate3d(0, -100%, 0);
            transition: .3s;
        }
    }

    .scroll-up {
        header {
            transition: .3s;
        }
    }

    // SOCIAL MEDIA DISPLAY

    .cl-social-media-display {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 24px;
        position: fixed;
        right: 8%;
        top: 50%;
        transform: translateY(-50%);
        width: 64px;
        padding: 24px;
        border-radius: 80px;
        background: rgba(0, 0, 0, 0.527);
        box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        border: 1px solid rgba(163, 163, 163, 0.18);
        z-index: 1000;
        animation: smFade 1s ease-in;
        animation-delay: 1.5s;
        animation-fill-mode: backwards;

        .sm-icon {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 24px;
            height: 24px;

            &:hover {
                filter: invert(59%) sepia(85%) saturate(1620%) hue-rotate(339deg) brightness(90%) contrast(143%);
            }

            .icon-img {
                width: 100%;
            }
        }
    }

    @keyframes smFade {
        from {
            transform: translateY(-100%);
            opacity: 0;
        }
        to {
            opacity: 1;
        }
      }