.cl-header {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80px;
    background: rgba(0, 0, 0, 0.527);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(163, 163, 163, 0.18);
    z-index: 1000;

    .header-content-wrapper {
        display: flex;
        gap: 32px;
        color: $white;
        font-family: 'Bebas Neue';
        font-size: 24px;
        letter-spacing: 1px;

        .header-list-item {

            &::after {
                content: '';
                display: block;
                margin: auto;
                height: 1px;
                width: 0px;
                background: white;
                transition: all 0.2s linear;
            }

            &:hover {

                &::after {
                    width: 90%;
                }
            }
        }
    }
}

    //scroll
    .scroll-down {
        header {
            transform: translate3d(0, -100%, 0);
            transition: .3s;
        }
    }

    .scroll-up {
        header {
            transition: .3s;
        }
    }